<my-spinner [visible]="isLoading"></my-spinner>
<my-user-form (userAddedEvent)="addUser($event)"></my-user-form>
<div>
  <h4>Users</h4>
  <ul class="list-group users"> 
    <li *ngFor="let user of users" 
    class="list-group-item"
     [class.active]="currentUser == user"
        (click)="select(user)">
          <my-user [user]="user"
          (deleteEvent)="deleteUser($event)"></my-user>
    </li>
  </ul>
</div>