<!--noraml, no btn had been clicked yet, showing "edit" btn + "delete" btn -->
 <div *ngIf="!isEdit">
    <strong>Post id:</strong> {{post.id}}<br/>
    <strong>Post title:</strong> {{post.title}}<br/>
  </div>
<!--editting mode, showing "save" btn + "undo" btn + "delete" btn-->
  <div *ngIf="isEdit">
      <strong>Post id:</strong> <input type="text" size="5" [(ngModel)]="post.id"><br/>
      <strong>Post title:</strong> <input type="text" size="90" [(ngModel)]="post.title"><br/>
      <p><button (click)="toggleUndo()">Undo</button></p> 
  </div>
<!--Undo mode, "undo" btn had been clicked, showing the original fields+ "edit" btn + "delete" btn-->
<div *ngIf="isEdit && undoFlag">
    <strong>Post id:</strong> {{originId}}<br/>
    <strong>Post title:</strong> {{originTitle}}<br/>
 </div>

<button (click)="toggleEdit()">{{editButtonText}}</button> 
<button (click)="sendDelete()">Delete</button> 
